body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;

}


input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

input[type=email]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block; 
    
}

input[type=email]:focus {
    background-color: #ddd;
    outline: none;
  }


button {
  background-color: silver; 
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

.signupbtn {
  float: left;
  width: 50%;
}

.container {
  padding: 16px;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: black;
  padding-top: 50px;
}


.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; 
  border: 1px solid #888;
  width: 50%;
  position: relative; 
}

.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}


.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}


.type1 {
    display: flex;
    flex-direction: row;
}

.type2 {
    display: flex;
    flex-direction: row;
}

.type3 {
    display: flex;
    flex-direction: row;
}
.type4 {
    position: absolute;
    right: 2%;
}
.fa-facebook {
    /* background: #3B5998; */
    color: white;
  }

  .fa-google {
    /* background: #dd4b39; */
    color: white;
  }

  .fa-github {
    /* background: #dd4b39; */
    color: white;
  }

  /* .fa {
    padding: 20px;
    font-size: 3px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    /* margin: 5px 2px; */
  /* } */ 
  

@media screen and (max-width:960px){
    .form{
      padding: 0%;
    }
  }
  @media screen and (max-width:480px){
      .form{
        padding:0%;
       
      }
      .type1{
        display: flex;
        flex-direction: column; 
    }
  
    
     .type2{
       display: flex;
       flex-direction: column;
     }
     .modal-content{
         width: 100%;
         margin: 0%;
     }
     .modal {
         padding: 0%;
         background-color: white;
     }
     input[name=lname]{
      width: 100%;

     }
     input[name=fname]{
      width: 100%;
     }
  }